</table>
</div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="js/sb-admin.min.js"></script>
<!-- Custom scripts for this page
-->
<script src="vendor/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
<script src="vendor/jquery-ui-1.12.1/jquery-ui.js"></script>
<! -- datepicker -->
<script>
    $(document).ready( function () {
        var username = document.cookie.match(/name=.*;?/);
        username = username[0].split('=')[1];
        $("#userName").html('<i class="fa fa-user" aria-hidden="true"></i>&nbsp'+username);
    });
    $(function () {
        $("#datepicker").datepicker();
        var tmphtml = '';
        var mainselect_val;
        var secondselect_val;

        $('#mainCat').on('change',function () {
            mainselect_val = $("#mainCat").val();
            if(mainselect_val == '1'){
                tmphtml =
                    '<option value="0" selected="selected">請選擇</option>'+
                    '<option value="1">固定收入</option> ' +
                    '<option value="2">非固定收入</option>';
                $('#secCat').html(tmphtml);
            }
            else if (mainselect_val == '2'){
                tmphtml = '<option value="0" selected="selected">請選擇</option>'+
                    '<option value="1">飲食</option>'+
                    '<option value="2">交通</option>'+
                    '<option value="3">娛樂</option>'+
                    '<option value="4">帳單</option>'+
                    '<option value="5">醫療</option>'+
                    '<option value="6">日用</option>'+
                    '<option value="7">其他</option>';
                $('#secCat').html(tmphtml);
            }
            else {
                tmphtml = '<option value="0">次分類</option>';
                $('#secCat').html(tmphtml);
            }
        });
        $('#secCat').on('change',function () {
            mainselect_val = $("#mainCat").val();
            secondselect_val= $("#secCat").val();
            if (mainselect_val == '2' && (['1','2'].indexOf(secondselect_val)) != -1 ){
                if(secondselect_val == '1'){
                    tmphtml = '<option value="0" selected="selected">請選擇</option>'+
                        '<option value="1">飲料</option>'+
                        '<option value="2">正餐</option>'+
                        '<option value="3">點心(宵夜)</option>';
                }else {
                    tmphtml = '<option value="0" selected="selected">請選擇</option>'+
                        '<option value="1">高鐵</option>'+
                        '<option value="2">捷運</option>'+
                        '<option value="3">公車</option>'+
                        '<option value="4">客運</option>'+
                        '<option value="5">加油</option>';
                }
                console.log('secondselect = ',secondselect_val);
                $('#thirdCat').html(tmphtml);
            }
            else {
                $('#thirdCat').html('<option value="0">免選擇</option>');
            }
        });
        $('#price').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#numerrmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        $('#FORMSUBMIT').on('click',function () {
            $('#addBillFormID').submit();
        });
    });
</script>
</div>
<!-- Modal -->
<div class="modal fade " id="addBill" tabindex="-1" role="dialog" aria-labelledby="addBillLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/addBill" id="addBillFormID">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBillLabel">新增帳目</h5>
                    <!-- close botton -->
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <!-- datepicker -->
                    <div class="row">
                        <div class="col">
                            <label for="datepicker"><a class="glyphicon glyphicon-pushpin"></a>日期</label>
                            <input type="text" name="date" id="datepicker">
                        </div>
                    </div>

                    <!-- dropdown -->
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="mainCat"></label>
                            <select class="form-control" name="maincategory" id="mainCat">
                                <option value="0" selected="selected">請選擇</option>
                                <option value="1">收入</option>
                                <option value="2">支出</option>
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <label for="secCat"></label>
                            <select class="form-control" name="seccategory" id="secCat">
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <label for="thirdCat"></label>
                            <select class="form-control" name="thirdcategory" id="thirdCat">
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="price">金額</label>
                        <div class="col-sm-12">
                            <input class="form-control"  type="text" name="price" id="price"/>
                            <span id="numerrmsg" style="color: red"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="item_name">品名</label>
                        <div class="col-sm-12">
                            <input class="form-control"  type="text" name="item_name" id="item_name"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default" data-dismiss="modal" id="FORMSUBMIT">Submit</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>